version: "3.8"

services:
 mongodb:
  image: mongo:6.0
  container_name: mongodb
  ports:
   - "27017:27017"
  environment:
   MONGO_INITDB_ROOT_USERNAME: root
   MONGO_INITDB_ROOT_PASSWORD: pass123
  networks:
   - app-net
  volumes:
   - mongo-data:/data/db
  healthcheck:
    test: ["CMD", "mongosh", "--eval", "db.runCommand({ping: 1})", "--quiet"]
    interval: 10s # 10초마다 체크
    timeout: 5s   # 체크 타임아웃 5초
    retries: 5    # 최대 5번 재시도
 backend:
  build:
   context: ./backend
   dockerfile: Dockerfile.dev
  container_name: express-dev
  ports:
   - "3000:3000"
  environment:
   PORT: 3000
   MONGO_URI: mongodb://root:pass123@host.docker.internal:27017/hotel-project?authSource=admin
   JWT_SECRET: your-super-secret-jwt-key-change-this-in-production
   JWT_EXPIRES_IN: 7d
   NODE_ENV: development
  volumes:
   - ./backend:/app
   - /app/node_modules
  networks:
   - app-net
  depends_on:
   - mongodb
  command: npm run dev

 frontend:
  build:
   context: ./frontend
   dockerfile: Dockerfile.dev
  container_name: react-dev
  ports:
   - "5173:5173"
  environment:
   VITE_API_URL: http://localhost:3000
  volumes:
   - ./frontend:/app
   - /app/node_modules
  networks:
   - app-net
  depends_on:
   - backend
  command: npm run dev

networks:
 app-net:
  driver: bridge

volumes:
 mongo-data: